<!-- <iframe src="https://www.w3schools.com/tags/tag_iframe.asp" id="myIframe" style="width:600px;height:500px"></iframe> -->
<div class="container" style="margin-top:15px">
	<div class="row">
		<div class="col-md-3">
			<div class="card" routerLink="/internal-lossess" style="cursor:pointer;">
			  <div class="card-body">
			    <h3 class="card-title">Internal Losses</h3>
			    <p class="card-text">
			    	Last Review Date - 19/02/2020<br/>
			    	Reviewed by - Deverapalli, Silpa(sd09059)
			    </p>
			  </div>
			  <div class="card-footer">
			  	54
			  </div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="card" routerLink="/external-events" style="cursor:pointer;">
			  <div class="card-body">
			    <h3 class="card-title">External Events</h3>
			    <p class="card-text">
			    	Last Review Date - 09/02/2020<br/>
			    	Reviewed by - Bhagwat, Vipul(vb37559)
			    </p>
			  </div>
			  <div class="card-footer">
			  	35
			  </div>
			</div>
		</div>
		
	</div>
</div>